* {
    margin: 0;
    padding: 0;
    /* a largura continua a mesma, e o conteúdo se ajusta para couber na caixa */
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.conteudo {
    /* border: 1px solid ; */
    width: 100%;
    display: flex;
    align-items: center;
    /* espaçamento entre elementos */
    justify-content: space-between;
}

.caixa-texto {
    width: 600px;
}

h1 {
    color: #333;
    /* grossura da fonte */
    font-weight: bold;
    /* tamanho da fonte */
    font-size: 60px;
}
/* tag inline usada para marcar ou estilizar um pedaço específico de texto ou conteúdo dentro de outra tag. */
span {
    color: #017143;
    font-size: 70px;
    font-weight: 900px;
}

p {
    font-size: 16px;
}
 button {
    /* cor de fundo */
    background: #017143; 
    color: #ffffffff;
    /* arredondamento das bordas */
    border-radius: 40px;
    /* eliminando borda */
    border: none;
    padding: 10px;
    margin-top: 20px;
    /* muda o ponteiro do mouse, ao interagir com elemento button vai aparecer uma mão */
    cursor: pointer;
 }
 button:hover {
    background: #018950;
 }

.starbucks {
    /* largura */
    width: 340px;
}
