* {
    margin: 0;
    padding: 0;
    /* a largura continua a mesma, e o conteúdo se ajusta para couber na caixa */
    box-sizing: border-box;
}

body {
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    
}

.starbucks {
    /* largura */
    width: 340px;
}
